table {
    border-collapse: collapse;
    border: 1px solid gray;
}

td, th{
    padding: 5px;
    border: 1px solid gray;
}

td:last-of-type {
    text-align: center;
}

tr:nth-of-type(even) {
    background-color: lightblue;
}

thead {
    color: white;
    font-weight: bold;
    background-color: black;
}

caption {
    caption-side: bottom;
    padding: 20px;
    font-weight: bold;
}

tfoot {
    font-weight: bold;
    background-color: rgb(248, 250, 255);
}