* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    background-color: darkblue;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
}

nav a:hover {
    color: orangered;
}

h1 {
    color: darkblue;
    border-bottom: 1px solid blue;
    padding: 15px 0;
    text-align: center;
}

img { 
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    margin: 20px 10px;
    box-shadow: 0 0 30px gray;
}

p {
    margin: 15px;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 90px;
}

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ddd;
    color: #000;
    
}

.box li {
    margin: 0 15px;
}

.box a {
    text-decoration: none;
}

.box a:hover {
    color: red;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid black;
    text-align: center;
    background-color: darkblue;
    width: 840px;
    margin: 0 auto;
    color: white;
    padding: 10px;
}

header, .grid {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: stretch;
}

main {
    grid-column: 2/3;
}

aside {
    position: relative;
    grid-row: 1/2;
    width: 20rem;
    grid-column: 1/2;
}

